@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$color: white;

.body{
  background-color: cornflowerblue;
  padding: 0px;
  margin: 0px;
  height: 100%;
  
}
.box{
  font-family: 'Noto Sans', sans-serif;
  padding-top: 30px;
}
footer {
  left: 0;
  bottom: 0;
  color: Black;
  text-align: center;
  padding-top: 10px;
  padding-bottom:10px;
  overflow: hidden;
}

#footer{
    background-color: lightcyan;
    border: 1px solid $color;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    display:flex;
    flex-direction: unset;
}

@media (min-width: 500px) {
    h1::before {
        content: "Welcome to My Web Page!";
    }
}

@media (max-width: 499px) {
    h1::before {
        content: "Welcome!";
    }
}
.lol{
  background-color: $color;
}
.section{
    padding-top: 30px;
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-color: gold;
}

.name{
    text-align: center;
    color: $color;
}

.para{
    text-align: center;
    font-weight: 100%;
    color: whitesmoke;

}

.row > div {
    padding: 20px;
    background-color: cornsilk;
    border: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.row > div:hover{
    padding: 20px;
    background-color: khaki;
    border: 2px solid black;
    color: rgb(133, 116, 116);
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
}

table{
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    justify-items: center;
}

.MQ{
    text-align: center;
}

.footer-bottom-text{
    background-color: lightcyan;
    border-top: 1px solid $color;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 1px;
    width: 100%;
    

}

.feedback{
    justify-items: left;
    justify-content: left;
    width: 100%;
    object-position: left;
    left: 0px;
}

.bottom{

}   

.infor{
    text-align: center;
    color: $color;    
}

.nav-link{
    color: burlywood;
}

.form{
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-radius: 5px;
}

.misc{
    border-radius: 25px;
    text-align: center;
}

.etc{
    color: $color;
}